body {
    background-image: url(/src/images/fondo.jpeg);
    background-color: black;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 55px;
    color: white;
}

.character-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.character-item {
    cursor: pointer;
    text-align: center;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(255, 105, 180, 0.5);
    /* Sombra rosa */
    padding: 10px;
    border-radius: 4px;
}

.character-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.character-item p {
    margin-top: 10px;
    color: #333;
}

.character-detail {
    color: white;
}

.character-detail img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: right;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.input-filters {
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0px 5px 5px rgba(255, 250, 105, 0.5);
    cursor: pointer;
}

.input-button {
    border-radius: 4px;
    box-shadow: 0px 5px 5px rgba(255, 250, 105, 0.5);
    cursor: pointer;
}

.character-item:hover {
    transform: scale(1.10);
}

.image-container {
    position: relative;
}

.back-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffc0cb;
    text-decoration: none;
}